
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap" rel="stylesheet">



<div class="center jumbotron contact" style="text-align: center;">
<h1 style="font-family: 'Rowdies', cursive;  letter-spacing: 1px;">  Contatti </h1>


  <h3 style="font-family: 'Merriweather', serif;"> <strong> Hai qualche problema o vuoi suggerirci qualcosa? <br /> Puoi chiamare o inviare un'email</strong> </h3><br />
  <h4 style="font-family: 'Merriweather', serif;">
  <div class="row">
   <div class="col-md-10 col-md-offset-1">
       <div class="row prova">
        <div class="col-md-5 col-md-offset-1 cuoco">
          <div class="card">
              <div class="card-header ">Chiamaci</div>
              <div class="card-body">
                <h4 class="card-title">+0156256532</h4>
                <p class="card-text">Da lunedì al venerdì <br />
                Dalle 8:00 Am alle 5.30 Pm </p>
              </div>
            </div>
        </div>
        <div class="col-md-4 appassionato">
           
           <div class="card">
              <div class="card-header appassionato">Email</div>

              <div class="card-body">
                <h4 class="card-title">facecook@gmail.com</h4>
                <p class="card-text">Il servizio è disponibile 24 ore tutti i giorni.</p>
              </div>
            </div>
        </div>
           

       </div>
   </div>

        

    </div>

  </h4>
 

  
</div>
