
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap" rel="stylesheet">



<div class="center jumbotron contact" style="text-align: center;">
<h1 style="font-family: 'Rowdies', cursive;  letter-spacing: 1px;">  Contatti </h1>


  <h3 style="font-family: 'Merriweather', serif;"> <strong> Hai qualche problema o vuoi suggerirci qualcosa? <br /> Puoi inviarci un'email</strong> </h3><br />
  <h4 style="font-family: 'Merriweather', serif;">

           <div class="card">
              <div class="card-header appassionato">Email</div>

              <div class="card-body">
                <h4 class="card-title">contact.facecook@gmail.com</h4>
                <p class="card-text">Il servizio è disponibile 24 ore tutti i giorni.</p>
              </div>
            </div>



  </h4>
 

  
</div>
