
<!-- app/views/pages/home.html.erb -->

<!--Add a Link to Facebook-->

<div class="center jumbotron">
  <h1>Benvenuto a Facecook!</h1>

  <h2>
    Clicca per registrarti
  </h2>

  <%= link_to "Registrati ora!", '#', class: "btn btn-lg btn-primary" %>
</div>
