/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 

 @import "bootstrap";
 @import "bootstrap-sprockets";
 @import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

 
 .bodyContent {
    margin-top: 50px;
    }
  body.login{
    background-image: url("sfondo.jpg");
    background-repeat: no-repeat;
      background-size: cover;
  }

  body.newpassword{
    background-image: url("edit.jpg");
    background-repeat: no-repeat;
      background-size: cover;
  }
  body.registrazione{
    background-image: url("reg.jpg");
    background-repeat: no-repeat;
      background-size: cover;
    color: black;
  }
  

  .prova img:hover {
    box-shadow: 0 0 2px 1px rgba(9, 187, 247, 0.5);
  }


     .myNavbar   {
        background-color: rgba(0, 0, 0, 0.884);
        border: 1px solid rgb(29, 29, 29);
     }
     .img-responsive{
      height: auto; 
    margin-top: 1px;
    margin-left: 3px;
    width: 50px; 
     }
     .jumbotron {
      background-image:url("prova.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 50px;
      min-height: 360px;
      }

      body.edit {
        background-image:url("edit.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 360px;
        }

      .entrato {
        background-image:url("cover.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 50px;
        min-height: 250px;

        
        }

      .descrizione {
        background-image:url("desc.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 50px;
        min-height: 360px;
        color:black;
        }

        .contact
       {
          background-image:url("contact.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          margin-top: 50px;
          min-height: 360px;
          color:black;
          }
        .regolamento {
          background-image:url("rego.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          margin-top: 50px;
          min-height: 360px;
          color:black;
          }

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #2e2e2e31;
    color: rgb(43, 43, 43);
  }
  
  footer a {
    color: #555;
  }
  
  footer a:hover {
    color: #222;
  }
  
  footer small {
    float: left;
  }
  
  footer ul {
    float: right;
    list-style: none;
  }
  
  footer ul li {
    float: left;
    margin-left: 15px;
  }


 .prova{
  display: inline;
 text-align: center;
 vertical-align: middle;
  background-color: rgb(209, 158, 158);

}

  
  .oppure {
    display: block;
    height: 10px;
    border-bottom: solid 1px #000;
    text-align: center;
    color: #000;
    
  }

  .oppure span{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 0 10px;
  }

  .button a {
    color: rgb(0, 0, 0);
  text-decoration: none;

  }
  .button{
    border-color: rgb(180, 180, 180);
    background-color: rgba(221, 213, 213, 0.87);
    box-shadow: 1px 0px rgb(170, 170, 170);
    margin-bottom: 5px;
  }

  .btn2 a{
    color: rgb(0, 0, 0);
  text-decoration: none;
  }

.imgrecipe{
    box-shadow: 1vh 1vh 1vh rgba(0,0,0,.5);
    height: 30vh;
    width: 50vh;
    position: relative;
    border-radius: 2vh;

}
.recipe{
  height:200px;
  width:100%;
  border-radius:4px;
}

.panel-body{
  padding:0px;
}
  
.panel {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  min-width: 40%;
  border-radius: 5px;
}

.panel:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}
a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:active {
  color: white;
  text-decoration: underline;
}
.cornice{
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 1vh 1vh 1vh rgba(0,0,0,.5);
}


