table#recipes {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#recipes th {
  border: 2px solid white;
  font-weight: bold;
}
table#recipes th, table#recipes td {
  padding: 4px;
  text-align: left;
}
