<h1><%= params[:category]%></h1><br>
<%if @recipes.count==0%>
 <h1>Non ci sono ricette in questa categoria</h1>
<%else%>
<div class="row">
  <% @recipes.each do |recipe| %> 
    <div class="col-md-3">
      <div class="panel panel-default panelricette" onclick="location.href='/recipes/<%= recipe.id%>'">
       <div class="panel-body">
        <%= image_tag recipe.immagine.url(:medium), class: "recipe"%>
       </div>
       <div class="panel-footer" align="center"><%= recipe.nome%></div>
      </div>
    </div>
<% end %>
</div>
<%end%>