<p>Benvenuto <%= @email %>!</p>

<p>Puoi confermare il tuo email accont con il link che segue:</p>

<p><%= link_to 'Conferma il mio account', confirmation_url(@resource, confirmation_token: @token) %></p>
