<p>Ciao <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Ti stiamo contattando per dirti che la tua email sta per essere cambiata con <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Ti stiamo contattando per dirti che la tua email è stata cambiata con <%= @resource.email %>.</p>
<% end %>
