<p>Ciao <%= @resource.email %>!</p>

<p>Qualcuno ha chiesto il link per cambiare password. Puoi cambiare la password con il link che segue. </p>

<p><%= link_to 'Cambia password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non sei stato tu, ignora questa email.</p>
<p>La tua password non cambierà finché non accedi al link sopra e ne crei una nuova.</p>
