<p>Ciao <%= @resource.email %>!</p>

<p>Il tuo account è stato bloccato a causa di un numero eccessivo di tentativi di accesso non riusciti.</p>

<p>Fai clic sul link in basso per sbloccare il tuo account:</p>

<p><%= link_to 'Sblocca il mio account', unlock_url(@resource, unlock_token: @token) %></p>
