<footer class="footer">
  <small>
    Copyright © 2020 Facecook

  </small>
  <nav>
    <ul>
      <li><%= link_to "Descrizione",   descrizione_path %></li>
      <li><%= link_to "Contatti", contattaci_path %></li>

    </ul>
  </nav>
</footer>